workflow-templates/missed-call-textback.json
{
  "name": "TEMPLATE - Missed Call Text-Back",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "missed-call",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "trigger",
      "name": "Missed Call Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "missed-call"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// MISSED CALL TEXT-BACK SYSTEM (Stromation Template)\n// ============================================================\n// Deploy per client: swap TWILIO creds, BUSINESS_NAME, OWNER_PHONE/EMAIL\n// Twilio triggers this webhook on missed/unanswered calls via a TwiML Bin\n// or Twilio Studio flow that checks call status.\n//\n// SETUP FOR EACH CLIENT:\n// 1. Buy Twilio number for client (or use their existing one)\n// 2. Set Twilio voice webhook to TwiML that rings their phone\n//    with a fallback action URL pointing to this webhook\n// 3. Update the 5 config vars below\n// ============================================================\n\n// ===== CLIENT CONFIG (change per deployment) =====\nconst BUSINESS_NAME = 'Acme Pest Control';        // client business name\nconst OWNER_PHONE = '+19725551234';                // owner cell for SMS alerts\nconst OWNER_EMAIL = 'owner@example.com';           // owner email for lead alerts\nconst TWILIO_SID = 'AC_YOUR_ACCOUNT_SID';          // client Twilio account SID\nconst TWILIO_TOKEN = 'your_auth_token';            // client Twilio auth token\nconst TWILIO_FROM = '+18555551234';                // Twilio number (the business line)\nconst OPENAI_KEY = 'sk-proj-YOUR_KEY';             // OpenAI key (use Stromation key or client key)\nconst BOOKING_LINK = 'https://cal.com/your-link';  // client booking link (Cal.com, Calendly, etc.)\n// ===== END CONFIG =====\n\n// Base64 helper (Buffer.from blocked in n8n sandbox)\nfunction b64(str) {\n  var chars = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/';\n  var result = '';\n  var i = 0;\n  while (i < str.length) {\n    var a = str.charCodeAt(i++);\n    var b = i < str.length ? str.charCodeAt(i++) : 0;\n    var c = i < str.length ? str.charCodeAt(i++) : 0;\n    var n = (a << 16) | (b << 8) | c;\n    result += chars[(n >> 18) & 63] + chars[(n >> 12) & 63];\n    result += (i - 2 < str.length) ? chars[(n >> 6) & 63] : '=';\n    result += (i - 1 < str.length) ? chars[n & 63] : '=';\n  }\n  return result;\n}\n\nasync function sendSMS(to, body) {\n  const auth = b64(TWILIO_SID + ':' + TWILIO_TOKEN);\n  try {\n    const result = await this.helpers.httpRequest({\n      url: 'https://api.twilio.com/2010-04-01/Accounts/' + TWILIO_SID + '/Messages.json',\n      method: 'POST',\n      headers: {\n        'Authorization': 'Basic ' + auth,\n        'Content-Type': 'application/x-www-form-urlencoded'\n      },\n      body: 'Body=' + encodeURIComponent(body) + '&To=' + encodeURIComponent(to) + '&From=' + encodeURIComponent(TWILIO_FROM)\n    });\n    return { success: true, sid: result.sid };\n  } catch (err) {\n    return { success: false, error: String(err.message || err) };\n  }\n}\n\n// Extract call data from Twilio webhook\nconst input = $input.first().json;\nconst body = input.body || input;\nconst callerPhone = String(body.From || body.Caller || '').trim();\nconst callStatus = String(body.CallStatus || body.DialCallStatus || 'no-answer').trim();\nconst callSid = String(body.CallSid || '').trim();\nconst calledNumber = String(body.Called || body.To || TWILIO_FROM).trim();\nconst now = new Date().toISOString();\n\n// Only act on missed/unanswered calls\nconst missedStatuses = ['no-answer', 'busy', 'failed', 'canceled'];\nif (!callerPhone || !missedStatuses.includes(callStatus)) {\n  return [{ json: {\n    headers: { 'Content-Type': 'text/xml' },\n    body: '<?xml version=\"1.0\" encoding=\"UTF-8\"?><Response></Response>',\n    _skipped: true,\n    _reason: 'Not a missed call or no caller phone: status=' + callStatus\n  }}];\n}\n\n// Step 1: Send immediate text-back to the caller\nconst textBackMsg = 'Hey, sorry we missed your call at ' + BUSINESS_NAME + '. How can we help? Reply with what you need and well get you taken care of. You can also book online: ' + BOOKING_LINK;\n\nconst smsResult = await sendSMS.call(this, callerPhone, textBackMsg);\n\n// Step 2: Notify business owner immediately\nconst ownerAlert = 'Missed call from ' + callerPhone + ' at ' + new Date().toLocaleString('en-US', {timeZone: 'America/Chicago'}) + '. Auto-text sent. They may reply soon.';\nconst ownerSmsResult = await sendSMS.call(this, OWNER_PHONE, ownerAlert);\n\n// Step 3: Return TwiML (empty response since call already ended)\nreturn [{ json: {\n  headers: { 'Content-Type': 'text/xml' },\n  body: '<?xml version=\"1.0\" encoding=\"UTF-8\"?><Response></Response>',\n  callerPhone: callerPhone,\n  callStatus: callStatus,\n  callSid: callSid,\n  textSent: smsResult.success,\n  ownerNotified: ownerSmsResult.success,\n  timestamp: now,\n  _emailSubject: '[' + BUSINESS_NAME + '] Missed Call - ' + callerPhone,\n  _emailBody: 'Missed call from ' + callerPhone + '\\nTime: ' + now + '\\nStatus: ' + callStatus + '\\nAuto-text sent: ' + smsResult.success + '\\nOwner SMS sent: ' + ownerSmsResult.success\n}}];"
      },
      "id": "process-call",
      "name": "Process Missed Call",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [250, 0]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "missed-call-reply",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "reply-trigger",
      "name": "SMS Reply Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 250],
      "webhookId": "missed-call-reply"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// MISSED CALL TEXT-BACK - REPLY HANDLER\n// ============================================================\n// When the caller texts back, this:\n// 1. Uses AI to understand what they need\n// 2. Sends a helpful auto-reply\n// 3. Logs the lead\n// 4. Notifies the business owner with full context\n// ============================================================\n\n// ===== CLIENT CONFIG (must match the missed call node) =====\nconst BUSINESS_NAME = 'Acme Pest Control';\nconst OWNER_PHONE = '+19725551234';\nconst OWNER_EMAIL = 'owner@example.com';\nconst TWILIO_SID = 'AC_YOUR_ACCOUNT_SID';\nconst TWILIO_TOKEN = 'your_auth_token';\nconst TWILIO_FROM = '+18555551234';\nconst OPENAI_KEY = 'sk-proj-YOUR_KEY';\nconst BOOKING_LINK = 'https://cal.com/your-link';\nconst BUSINESS_TYPE = 'pest control';  // used for AI context\n// ===== END CONFIG =====\n\nfunction b64(str) {\n  var chars = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/';\n  var result = '';\n  var i = 0;\n  while (i < str.length) {\n    var a = str.charCodeAt(i++);\n    var b = i < str.length ? str.charCodeAt(i++) : 0;\n    var c = i < str.length ? str.charCodeAt(i++) : 0;\n    var n = (a << 16) | (b << 8) | c;\n    result += chars[(n >> 18) & 63] + chars[(n >> 12) & 63];\n    result += (i - 2 < str.length) ? chars[(n >> 6) & 63] : '=';\n    result += (i - 1 < str.length) ? chars[n & 63] : '=';\n  }\n  return result;\n}\n\nasync function sendSMS(to, body) {\n  const auth = b64(TWILIO_SID + ':' + TWILIO_TOKEN);\n  try {\n    const result = await this.helpers.httpRequest({\n      url: 'https://api.twilio.com/2010-04-01/Accounts/' + TWILIO_SID + '/Messages.json',\n      method: 'POST',\n      headers: {\n        'Authorization': 'Basic ' + auth,\n        'Content-Type': 'application/x-www-form-urlencoded'\n      },\n      body: 'Body=' + encodeURIComponent(body) + '&To=' + encodeURIComponent(to) + '&From=' + encodeURIComponent(TWILIO_FROM)\n    });\n    return { success: true, sid: result.sid };\n  } catch (err) {\n    return { success: false, error: String(err.message || err) };\n  }\n}\n\nconst input = $input.first().json;\nconst body = input.body || input;\nconst fromPhone = String(body.From || '').trim();\nconst smsBody = String(body.Body || '').trim();\nconst now = new Date().toISOString();\n\nif (!fromPhone || !smsBody) {\n  return [{ json: {\n    headers: { 'Content-Type': 'text/xml' },\n    body: '<?xml version=\"1.0\" encoding=\"UTF-8\"?><Response></Response>',\n    _skipped: true\n  }}];\n}\n\n// Step 1: AI classifies and extracts info\nlet leadInfo = { name: null, service_needed: null, address: null, urgency: 'normal' };\ntry {\n  const aiResp = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://api.openai.com/v1/chat/completions',\n    headers: { 'Authorization': 'Bearer ' + OPENAI_KEY, 'Content-Type': 'application/json' },\n    body: {\n      model: 'gpt-4o-mini',\n      temperature: 0.1,\n      messages: [\n        { role: 'system', content: 'You handle SMS replies for ' + BUSINESS_NAME + ', a ' + BUSINESS_TYPE + ' company. Extract info from customer texts. Return JSON only: {\"name\": \"name or null\", \"service_needed\": \"what they need in 1 sentence\", \"address\": \"address if mentioned or null\", \"urgency\": \"emergency/urgent/normal\", \"reply\": \"a short friendly reply (under 160 chars) confirming you got their info and someone will reach out soon. mention booking link if appropriate: ' + BOOKING_LINK + '. sound human not corporate.\"}' },\n        { role: 'user', content: smsBody }\n      ]\n    }\n  });\n  const parsed = JSON.parse(aiResp.choices[0].message.content);\n  leadInfo = { name: parsed.name, service_needed: parsed.service_needed, address: parsed.address, urgency: parsed.urgency || 'normal' };\n\n  // Send AI reply to caller\n  const replyText = String(parsed.reply || 'Got it, thanks. Someone from our team will reach out shortly.');\n  await sendSMS.call(this, fromPhone, replyText);\n} catch(e) {\n  // Fallback reply if AI fails\n  await sendSMS.call(this, fromPhone, 'Got it, thanks for the info. Someone from ' + BUSINESS_NAME + ' will get back to you shortly.');\n  leadInfo.service_needed = smsBody;\n}\n\n// Step 2: Notify business owner with full context\nconst urgencyFlag = leadInfo.urgency === 'emergency' ? 'EMERGENCY ' : leadInfo.urgency === 'urgent' ? 'URGENT ' : '';\nconst ownerMsg = urgencyFlag + 'New lead from missed call:\\n' + fromPhone + '\\n' +\n  (leadInfo.name ? 'Name: ' + leadInfo.name + '\\n' : '') +\n  'Need: ' + (leadInfo.service_needed || smsBody) + '\\n' +\n  (leadInfo.address ? 'Address: ' + leadInfo.address + '\\n' : '') +\n  'Reply directly to this number to reach them.';\n\nawait sendSMS.call(this, OWNER_PHONE, ownerMsg);\n\n// Return TwiML + lead data for email/logging nodes\nreturn [{ json: {\n  headers: { 'Content-Type': 'text/xml' },\n  body: '<?xml version=\"1.0\" encoding=\"UTF-8\"?><Response></Response>',\n  callerPhone: fromPhone,\n  message: smsBody,\n  leadInfo: leadInfo,\n  timestamp: now,\n  _emailSubject: '[' + BUSINESS_NAME + '] ' + urgencyFlag + 'Lead: ' + (leadInfo.service_needed || smsBody).substring(0, 50),\n  _emailBody: 'New lead from missed call text-back:\\n\\nPhone: ' + fromPhone + '\\n' + (leadInfo.name ? 'Name: ' + leadInfo.name + '\\n' : '') + 'Need: ' + (leadInfo.service_needed || smsBody) + '\\n' + (leadInfo.address ? 'Address: ' + leadInfo.address + '\\n' : '') + 'Urgency: ' + leadInfo.urgency + '\\nOriginal message: ' + smsBody\n}}];"
      },
      "id": "process-reply",
      "name": "Process SMS Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [250, 250]
    },
    {
      "parameters": {
        "sendTo": "={{ $json._emailSubject ? $json._emailBody : '' }}",
        "subject": "={{ $json._emailSubject }}",
        "emailFormat": "text",
        "text": "={{ $json._emailBody }}",
        "options": { "appendAttribution": false }
      },
      "id": "email-owner",
      "name": "Email Lead to Owner",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [500, 125],
      "credentials": {
        "smtp": {
          "id": "1YRDELck4DXhBO8G",
          "name": "SMTP - Stromation (leads@)"
        }
      }
    },
    {
      "parameters": {
        "content": "## TEMPLATE - Missed Call Text-Back\n\n### How to deploy for a new client:\n1. Duplicate this workflow\n2. Rename to: \"CLIENT NAME - Missed Call Text-Back\"\n3. Update the 8 CONFIG vars in both code nodes:\n   - BUSINESS_NAME, OWNER_PHONE, OWNER_EMAIL\n   - TWILIO_SID, TWILIO_TOKEN, TWILIO_FROM\n   - OPENAI_KEY, BOOKING_LINK, BUSINESS_TYPE\n4. Update the Email node sendTo with client owner email\n5. Set up Twilio:\n   - Buy a number (or port client's existing)\n   - Voice webhook: TwiML that rings client phone\n   - Fallback URL: this workflow's missed-call webhook\n   - SMS webhook: this workflow's missed-call-reply webhook\n6. Activate the workflow\n7. Test: call the Twilio number, don't answer, verify text arrives\n\n### Pricing: $1,000-$1,500 setup + $99-$149/mo retainer\n\n### What client gets:\n- Instant text-back on every missed call\n- AI-powered reply handling\n- Lead logging + email alerts\n- Booking link in every text\n- Emergency detection + priority alerts",
        "height": 520,
        "width": 350
      },
      "id": "docs",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-350, -50]
    }
  ],
  "connections": {
    "Missed Call Webhook": {
      "main": [
        [{ "node": "Process Missed Call", "type": "main", "index": 0 }]
      ]
    },
    "Process Missed Call": {
      "main": [
        [{ "node": "Email Lead to Owner", "type": "main", "index": 0 }]
      ]
    },
    "SMS Reply Webhook": {
      "main": [
        [{ "node": "Process SMS Reply", "type": "main", "index": 0 }]
      ]
    },
    "Process SMS Reply": {
      "main": [
        [{ "node": "Email Lead to Owner", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "errorWorkflow": "37Mu8KJyxksGOe8B"
  }
}
